

#art-info{
    display: flex;
    margin-left: 20px;
    margin-top: 100px;
    justify-content: space-between;
    
}


#art-img img{
    height: 560px;
    width: 475px;
}

#art-name{
    
    background-color: white;
    width: 445px;
    height: 238px;
    margin-left: -10%;
    

}

#portrait{
    display: flex;
}

#art-name h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    
    
}

#art-name p{
    font-weight: normal;
    color: #7D7D7D;
    margin-top: 24px;
}

#art-name h1, p{
    padding-left: 65px;
}

#artist{
    height: 128px;
    margin-top: 40%;
    margin-left: -25%;
}

#text{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: -28%;
    
    
}

#text h1{
    color: #bebebe;
    font-size: 190px;
    margin: 0;
    
}

#text p{
    padding: 0 100px 0 0;
    line-height: 1.8;
    color: #7D7D7D;
    margin-top: -80px;
    margin-bottom: 80px;
    width: 390px;
}

#text a{
    color: #7D7D7D
}

#text a:hover{
    color: black;
}

.pop-up-button{
    background-color: rgba(12, 12, 12, 0.726);
    height: 40px;
    width: 142px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -52%;
    margin-top: 42%;
}

.pop-up-button h6{
    color: white;
    font-size: 10px;
    letter-spacing: 2.14px;
}

.pop-up-button:hover{
    cursor: pointer;
    background-color: #97979760;
}

#view-button{
    height: 12px;
}

#pop-up{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: grid;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.877);
    overflow-y: hidden;
}


#pop-up img{
    height: 70%;
}

#pop-up h6{
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: normal;
    text-align: end;
    
    
}

#pop-up h6:hover{
    cursor: pointer;
    color: #b8b8b8;
}

body.active-popUp {
    overflow-y: hidden;
}