
#gallery{
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1800px;
    align-items: center;
    width: 100%;
    
    
}

#Starry-Night{

    background: url("../../../public/assets/starry-night/gallery.jpg");
    height: 18%;
    background-size: cover;
    background-repeat: no-repeat;
    

}

#The-Storm-on-the-Sea-of-Galilee{

    background: url("../../../public/assets/the-storm-on-the-sea-of-galilee/gallery.jpg");
    height: 25%;
    background-size: cover;
    background-repeat: no-repeat;

}

#Lady-with-an-Ermine{
    background: url("../../../public/assets/lady-with-an-ermine/gallery.jpg");
    height: 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

#The-Boy-in-the-Red-Vest{
    background: url("../../../public/assets/the-boy-in-the-red-vest/gallery.jpg");
    height: 18%;
    background-size: cover;
    background-repeat: no-repeat;
}

#Girl-with-a-Pearl-Earring{

    background-image: url("../../../public/assets/girl-with-a-pearl-earring/gallery.jpg");
    height: 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

#The-Great-Wave-off-Kanagawa{
    background-image: url("../../../public/assets/the-great-wave-off-kanagawa/gallery.jpg");
    height: 19%;
    background-size: cover;
    background-repeat: no-repeat;

}

#The-Night-Café{
    background-image: url("../../../public/assets/the-night-café/gallery.jpg");
    height: 16%;
    background-size: cover;
    background-repeat: no-repeat;

}

#Arnolfini-Portrait{
    background-image: url("../../../public/assets/arnolfini-portrait/gallery.jpg");
    height: 26%;
    background-size: cover;
    background-repeat: no-repeat;

}

#Guernica{
    background-image: url("../../../public/assets/guernica/gallery.jpg");
    height: 25%;
    background-size: cover;
    background-repeat: no-repeat;

}

#Van-Gogh-Self-portrait{
    background-image: url("../../../public/assets/van-gogh-self-portrait/gallery.jpg");
    height: 34%;
    background-size: cover;
    background-repeat: no-repeat;

}

#Mona-Lisa{
    background-image: url("../../../public/assets/mona-lisa/gallery.jpg");
    height: 34%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 44px;

}

#Penitent-Magdalene{
    background-image: url("../../../public/assets/penitent-magdalene/gallery.jpg");
    height: 18%;
    background-size: cover;
    background-repeat: no-repeat;
}

#The-Sleeping-Gypsy{
    background-image: url("../../../public/assets/the-sleeping-gypsy/gallery.jpg");
    height: 18%;
    background-size: cover;
    background-repeat: no-repeat;
}

#The-Basket-of-Apples{
    background-image: url("../../../public/assets/the-basket-of-apples/gallery.jpg");
    height: 33%;
    background-size: cover;
    background-repeat: no-repeat;
}

#The-Swing{
    background-image: url("../../../public/assets/the-swing/gallery.jpg");
    height: 22%;
    background-size: cover;
    background-repeat: no-repeat;
}

.art-ctr{

    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: flex-end;
    background-position: center;
    text-decoration: none;
    color: white;
    width: 24%;
    
    
    
}

.art-ctr:hover{
    cursor: pointer;
}



.art-ctr h4, h5{

    margin-left: 25px;
    margin-top: 0;
    
}



.art-ctr h4{
    font-size: 24px;
    margin-bottom: 6px;
}

.art-ctr h5{
    font-size: 13px;
    font-weight: normal;
    
}

/* Tablet Media Query */

@media only screen and (max-width: 1270px){

    #gallery{
        height: 2700px;
        width: 80%;
        margin: auto;
    }

    .art-ctr{
        width: 48%;
    }

}